.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero, .top-news, .scores, .weather, .recent-news {
  order: 10;
}

/*
*
* Off-canvas layout styles
* 
*/

@media screen and (max-width: 400px) {
  .header__inner {
    display: flex;
  }
  .header__logo {
    flex-grow: 1;
    height: 49px;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0.5em;
  }
  .header__title {
    flex-grow: 1;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0.5em 0.25em;
  }
  .header__menu {
    flex-grow: 1;
    right: 0;
    padding: 1em 0.5em;
    display: inline-block;
    color: #c0c4c7;
  }
  .nav {
    width: 300px;
    background-color: #c0c4c7;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    z-index: 10;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: left;
    line-height: 24px;
    padding: 24px 24px;
    text-transform: uppercase;
    border-bottom: 1px solid #fffafa;
  }
  .nav a {
    text-decoration: none;
    color: #fffafa;
  }
  .nav a:hover {
    text-decoration: underline;
    color: #212121;
  }
}

 /*
 *
 * Minor break point 
 *
 */


 /*
 *
 * Layout shifter 
 *
 */

@media screen and (min-width: 550px) {
  .hero {
    width: 60%;
    order: 0;
  }
  .weather {
    width: 40%;
    order: 1;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
    order: 0;
  }
  .top-news {
    width: 50%;
    order: 1;
  }
  .scores {
    width: 60%;
    order: 2;
  }
  .weather {
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main, .header__inner, .nav, .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

}

 /*
 *
 * Responsive table 
 *
 */

 @media screen and (max-width: 400px) {
  .scores__table {
    padding: 5px;
  }

  table.scores__table , .scores__table thead, .scores__table tbody, .scores__table th, .scores__table tr, .scores__table td {
    display: block;
    min-width: 100px;
    box-sizing: border-box;
  }

  /* hide header */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* hide table cells */
  .scores__table td {
    position: relative;
    padding-left: 50%;
    display: none;
  }

  .scores__table td[data-th].winner__header {
    color: #fff;
    font-weight: 300;
    background-color: #78909C;
    display: block;
  }
  
  /* show only winners */
  .scores__table td[data-th].winner {
    display: block;
    text-align: inherit;
  }

  /* add lables */
  td:before { 
    position: absolute;
    left: 6px;
    content: attr(data-th);
  }
  
}

@media screen and (max-width: 399px) {
	html {
	  font-size: 10px;
	}
	body {
	  font-size: 1em;
	}
	header, .nav__item {
	  font-size: 1.3em;
	}
	.hero {
		height: 350px;
	}
	.hero article {
		height: 50%;
	}
	h2 {
		font-size: 1.8em;
	}
	p {
		font-size: 1.6em;
	}
	.description p, .recent-news p {
		line-height: 1.5;
	}
	.news__title {
		font-size: 2em;
	}
	.top-news {
		height: 320px;
	}
	.top-news__item {
		font-size: 1.6em;
	}
	.scores {
		font-size: 1.6em;
	}
	.weather {
		font-size: 1.6em;
	}
	.snippet__title {
		font-size: 1.3em;
	}
 }